In [3]:
import pandas as pd
import sqlite3

# 1. Cargar el archivo Excel en un DataFrame
path = "/Users/alvarosanchez/ONLINE_DS_THEBRIDGE_ALVAROSMMS-1/ONLINE_DS_THEBRIDGE_ALVAROSMMS/Personal Projects/Ranking Survivors.xlsx"
df = pd.read_excel(path)  # Asegúrate de que la hoja correcta se carga si hay más de una

# 2. Crear la base de datos en memoria
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

# 3. Crear la tabla en SQLite
cursor.execute("""
CREATE TABLE rankings (
               ranking INTEGER,
               A INTEGER,
               B INTEGER,
               C INTEGER,
               D INTEGER,
               E INTEGER,
               F INTEGER,
               G INTEGER,
               H INTEGER
               );
""")

# 4. Insertar los datos en la base de datos
df.to_sql("rankings", conn, if_exists="append", index=False)  # Se usa el nombre de la tabla "rankings"

# 5. Ejecutar la consulta SQL
query = """
SELECT temporada, SUM(ranking) AS puntaje_total, COUNT(*) AS veces_en_rankings
FROM (
    SELECT A AS temporada, ranking FROM rankings
    UNION ALL
    SELECT B, ranking FROM rankings
    UNION ALL
    SELECT C, ranking FROM rankings
    UNION ALL
    SELECT D, ranking FROM rankings
    UNION ALL
    SELECT E, ranking FROM rankings
    UNION ALL
    SELECT F, ranking FROM rankings
    UNION ALL
    SELECT G, ranking FROM rankings
    UNION ALL
    SELECT H, ranking FROM rankings
) AS temporadas_unidas
GROUP BY temporada
ORDER BY puntaje_total ASC;
"""

# 6. Ejecutar la consulta y convertirla en un DataFrame
df_resultado = pd.read_sql_query(query, conn)

# 7. Cerrar la conexión
conn.close()

# 8. Mostrar los resultados
print(df_resultado)

    temporada  puntaje_total  veces_en_rankings
0        20.0             17                  8
1         7.0             31                  6
2         1.0             37                  6
3        16.0             38                  9
4        47.0             44                  3
5        28.0             45                  8
6        37.0             46                  7
7        31.0             48                  8
8        40.0             55                  7
9        45.0             59                  3
10       46.0             64                  4
11       33.0             82                  7
12       10.0             88                  6
13        4.0             95                  5
14       32.0             98                  5
15       25.0            100                  7
16        6.0            101                  7
17       44.0            101                  5
18       42.0            104                  6
19        8.0            109                  4
20       15.0            110                  8
21       27.0            112                  8
22       13.0            117                  8
23        9.0            120                  4
24       34.0            122                  6
25       12.0            124                  5
26       23.0            124                  4
27       35.0            131                  4
28       18.0            138                 10
29        2.0            139                  7
30       43.0            143                  4
31       11.0            145                  5
32       36.0            150                  4
33       24.0            159                  4
34       30.0            159                  4
35       17.0            162                  6
36       29.0            168                  6
37       26.0            169                  6
38       38.0            169                  5
39        3.0            170                  5
40       21.0            170                  4
41       22.0            170                  4
42       41.0            170                  7
43       19.0            173                  7
44       39.0            178                  4
45       14.0            185                  6
46        5.0            186                  5
47        NaN           3599                105